* {
    background:    rgba(11, 10, 16, 0.85);
    background-alt: rgba(11, 10, 16, 0.85);
    foreground:     #FFFFFFFF;
    selected:       #89b4faff;
    active:           #BBAADDff;
    urgent:         #E06C75FF;
}
