[Desktop Entry]
Version=1.0
Type=Application
Name=Claude.ai
Comment=Claude.ai
Exec=brave --app="https://claude.ai" --ozone-platform=wayland
Icon=claude-ai
Terminal=false
StartupNotify=true
StartupWMClass=brave-claude.ai__-Default
Categories=Network;
