#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ProtonMail
Exec=uwsm app -- brave --app="https://mail.proton.me/u/0/inbox" --ozone-platform=wayland
Icon=protonmail
StartupWMClass=protommail-custom
Actions=Email
