layout {
  pane
  pane size=1 borderless=true {
    plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
     //One Dark
    color_black "#0e1013"
    color_bgDark "#1E2127"
    color_bg0 "#1f2329"
    color_bg1 "#282c34"
    color_bg2 "#30363f"
    color_bg3 "#323641"
    color_bg_d "#181b20"
    color_bg_blue "#61afef"
    color_bg_yellow "#e8c88c"
    color_fg_light "#a0a8b7"
    color_fg_dark "#abb2bf"
    color_purple "#bf68d9"
    color_green "#8ebd6b"
    color_orange "#cc9057"
    color_blue "#4fa6ed"
    color_yellow "#e2b86b"
    color_cyan "#48b0bd"
    color_red "#e55561"
    color_grey "#535965"
    color_light_grey "#7a818e"
    color_dark_cyan "#266269"
    color_dark_red "#8b3434"
    color_dark_yellow "#835d1a"
    color_dark_purple "#7e3992"
    color_diff_add "#272e23"
    color_diff_delete "#2d2223"
    color_diff_change "#172a3a"
    color_diff_text "#274964"

    format_left   "#[bg=$bgDark]{mode}#[bg=$bgDark] {tabs}"
    format_center ""
    format_right  ""
    format_space  "#[bg=$bgDark]"
    format_hide_on_overlength "true"
    format_precedence "lrc"

    border_enabled  "false"
    border_char     "─"
    border_format   "#[bg=$light_grey]{char}"
    border_position "top"

    hide_frame_for_single_pane "true"

    mode_normal        "#[bg=$green,fg=$bgDark,bold] NORMAL#[bg=$bgDark,fg=$green]"
    mode_tmux          "#[bg=$mauve,fg=$bgDark,bold] TMUX#[bg=$bgDark,fg=$purple]"
    mode_locked        "#[bg=$red,fg=$bgDark,bold] LOCKED#[bg=$bgDark,fg=$red]"
    mode_pane          "#[bg=$yellow,fg=$bgDark,bold] PANE#[bg=$bgDark,fg=$yellow]"
    mode_tab           "#[bg=$purple,fg=$bgDark,bold] TAB#[bg=$bgDark,fg=$purple]"
    mode_scroll        "#[bg=$orange,fg=$bgDark,bold] SCROLL#[bg=$bgDark,fg=$orange]"
    mode_enter_search  "#[bg=$orange,fg=$bgDark,bold] ENT-SEARCH#[bg=$bgDark,fg=$orange]"
    mode_search        "#[bg=$orange,fg=$bgDark,bold] SEARCHARCH#[bg=$bgDark,fg=$orange]"
    mode_resize        "#[bg=$yellow,fg=$bgDark,bold] RESIZE#[bg=$bgDark,fg=$yellow]"
    mode_rename_tab    "#[bg=$yellow,fg=$bgDark,bold] RENAME-TAB#[bg=$bgDark,fg=$yellow]"
    mode_rename_pane   "#[bg=$yellow,fg=$bgDark,bold] RENAME-PANE#[bg=$bgDark,fg=$yellow]"
    mode_move          "#[bg=$yellow,fg=$bgDark,bold] MOVE#[bg=$bgDark,fg=$yellow]"
    mode_session       "#[bg=$red,fg=$bgDark,bold] SESSION#[bg=$bgDark,fg=$red]"
    mode_prompt        "#[bg=$red,fg=$bgDark,bold] PROMPT#[bg=$bgDark,fg=$red]"

    tab_normal              "#[bg=$bgDark,fg=$blue]#[bg=$blue,fg=$bg1,bold]{index} #[bg=$bg1,fg=$blue,bold] {name}{floating_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_normal_fullscreen   "#[bg=$bgDark,fg=$blue]#[bg=$blue,fg=$bgDark,bold]{index} #[bg=$bg1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_normal_sync         "#[bg=$bgDark,fg=$blue]#[bg=$blue,fg=$bgDark,bold]{index} #[bg=$bg1,fg=$blue,bold] {name}{sync_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_active              "#[bg=$bgDark,fg=$purple]#[bg=$purple,fg=$bg1,bold]{index} #[bg=$bg1,fg=$purple,bold] {name}{floating_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_active_fullscreen   "#[bg=$bgDark,fg=$purple]#[bg=$purple,fg=$bg1,bold]{index} #[bg=$bg1,fg=$purple,bold] {name}{floating_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_active_sync         "#[bg=$bgDark,fg=$purple]#[bg=$purple,fg=$bg1,bold]{index} #[bg=$bg1,fg=$purple,bold] {name}{floating_indicator}#[bg=$bgDark,fg=$bg1]"
    tab_separator           "#[bg=$bgDark] "

    tab_sync_indicator       " "
    tab_fullscreen_indicator " 󰊓"
    tab_floating_indicator   " 󰹙"

    notification_format_unread "#[bg=bg0,fg=$yellow]#[bg=$yellow,fg=$bg0] #[bg=$bg1,fg=$yellow] {message}#[bg=$bg0,fg=$yellow]"
    notification_format_no_notifications ""
    notification_show_interval "10"

    command_host_command    "uname -n"
    command_host_format     "{stdout}"
    command_host_interval   "0"
    command_host_rendermode "static"

    command_user_command    "whoami"
    command_user_format     "{stdout}"
    command_user_interval   "10"
    command_user_rendermode "static"

    }
  }
}
